[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-digital-garden-theme"]
	path = themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
